# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend output binary
backend/ai-engine/target
backend/test-ledger
backend/ai-engine/uploads


# .env files
backend/docs
backend/ai-engine/src/nlp/.env
backend/ai-engine/.venv
backend/ai-engine/src/vectored/require/
backend/ai-engine/src/vectored/__pycache__/